html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 100%;
}
body{
    margin-top:  0.7in; ;
background-color:lightslategrey;
}
/*navigation bar*/
.nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color:#EEEEEE;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}
  li {
      float: left;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 8px;
      overflow: hidden;
    }
    .side-nav a, .b{
      display: block;
      padding: 14px 16px;
      text-decoration: none;
      color: #666666;  
    }
    .side-nav a:hover {
      background-color:#CCCCCC;
      border-radius: 25px;
    }
    .b:hover{
      background-color:#CCCCCC;
      border-radius: 25px;
    }
  .side-nav{
    display: flex;
    justify-content: flex-end;
  }
  .side-navi li:hover{
    background-color:#cecece;
    border-radius: 85%;
    opacity: 70%;
  }
  li i {
      font-size: 24px;
      color: gray;
      padding: 14px 16px;
    }
  li img{
      width: 128.5px;
      height: 50%;
  }

/*Pop Up form*/
.form-popup {
  box-sizing:content-box;
  position: fixed;
  z-index: 9999;
  padding: 5px;
  background-color: #FEFEFE;
  color: #666666;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
  right: 1px;
}
/*timeline*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background:#d1d1d1b6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}


.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid#8a8a8ab6;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #8a8a8ab6;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color:lightsteelblue;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: whitesmoke;
  border: 2px solid gray;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #3f3f3fcb;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: rgba(245, 245, 245, 0.87);
  position: relative;
  border-radius: 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 0;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #666666;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #5f5f5f transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

/* credits to: https://codepen.io/htmlcodex/pen/LYGjPgV*/
